<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.plus.mapper.UserMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mybatis.plus.entity.User">
        <id column="ID" property="id" />
        <result column="USERNAME" property="username" />
        <result column="PASSWORD" property="password" />
        <result column="AGE" property="age" />
        <result column="BIRTHDAY" property="birthday" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, USERNAME, PASSWORD, AGE, BIRTHDAY
    </sql>


    <insert id="insertOne" parameterType="User">
        insert into userDto
        (id,username,password,age,birthday)
        values
        (null,#{username},#{password},#{age},#{birthday})
    </insert>

    <insert id="insertBatch" >
        insert into userDto
        (id,username,password,age,birthday)
        values
        <trim suffixOverrides=",">
            <foreach collection="userList" item="userDto" separator=",">
                (null,#{userDto.username},#{userDto.password},#{userDto.age},#{userDto.birthday})
            </foreach>
        </trim>


    </insert>

    <update id="updateOne" parameterType="User">
        update
          userDto
        set
          username = #{username},
          password = #{password},
          age = #{age},
          birthday = #{birthday}
        where id =#{id}
    </update>

    <update id="updateBatch" >
        <foreach collection="userList" item="userDto" separator=";" >
            update
              userDto
            set
                username = #{userDto.username},
                password = #{userDto.password},
                age = #{userDto.age},
                birthday = #{userDto.birthday}
            where id = #{userDto.id}
        </foreach>

    </update>
</mapper>
